# Django
DJANGO_SETTINGS_MODULE=server.settings.dev

# Vite (local dev only)
VITE_API_URL=http://localhost:8000

# PostgreSQL (required)
POSTGRES_DB=schedulo
POSTGRES_USER=schedulo
POSTGRES_PASSWORD=your_password_here

# PostgreSQL (local dev only)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
