$background-color: #F0ECE2;

#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    width: 100vw;
    height: 100vh;
}

#login-form-container {
    width: 100%;
}
